<h1>Customize it, Baby!</h1>
<div>
	<div class="templates-list">
		<ul>
			<li>Default</li>
			<li>Another</li>
			<li>Another...</li>
		</ul>
	</div>
	<div class="default-template">
		<span ng-show="title.length > 0">{{title}}</span><br/>
		<img ng-src="{{imageUrl}}" ng-show="imageUrl" />

		<div class="default-template-step-1">
			<span class="step-title">Step 1.</span> Choose a background image 
			<button class="btn step-btn" ng-click="choosePhoto()">GO!</button>
		</div>
		<div class="default-template-step-2">
			<span class="step-title">Step 2.</span> Choose a title
			<button class="btn step-btn" ng-click="chooseAlbumTitle()">GO!</button>
		</div>
		<button class="btn step-btn" ng-click="saveCustomization()">Save!</button>
	</div>
</div>
