<div ng-controller="MusicSearchCtrl" class="music-search">

	<div class="panel panel-default">
		<div class="panel-heading">
			<form ng-submit="search(query)">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
					<input class="form-control input-sm" ng-model="query" ng-model-options="{ debounce: 250 }">
					<span class="input-group-btn">
						<button class="send-button btn btn-primary btn-sm pull-right" ng-disabled="playlist.length==0" ng-click="savePlaylist(playlist)"><span class="glyphicon glyphicon-envelope"></span></button>
					</span>
				</div>
			</form>
		</div>
		<ul class="list-group search-results">
			<li class="list-group-item" ng-repeat="song in songs|notInList:playlist track by song.id">
				<div class="cover-art pull-left">
					<play-button id="{{song.id}}"></play-button>
					<img src="{{song.imageUrl}}" alt="..." class="img-rounded">
				</div>
				<span class="song-title">{{song.title}} <br> <small>{{song.artist}}</small></span>
				<div class="pull-right add-button">
					<button ng-click="add(song)" class="btn btn-lg btn-link add-button"><span class="glyphicon glyphicon-plus-sign"></span></button>
				</div>
			</li>
		</ul>
	</div>

	<div class="empty-playlist jumbotron" ng-if="!loading && playlist.length < 1">
		<h1>Mix it up</h1>
		<p>Start adding songs now!</p>
	</div>

	<div class="loading-playlist jumbotron" ng-if="loading">
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>

	<ul class="list-group">
		<li class="list-group-item" ng-repeat="song in playlist track by song.id">
			<div class="cover-art pull-left">
				<play-button id="{{song.id}}"></play-button>
				<img src="{{song.imageUrl}}" alt="..." class="img-rounded">
			</div>
			<span class="song-title">{{song.title}} <br> <small>{{song.artist}}</small></span>
			<div class="pull-right remove-button">
				<button class="btn btn-lg btn-link remove-button" ng-click="remove(song)"><span class="glyphicon glyphicon-minus-sign"></span></button>
			</div>
		</li>
		<a href="#!/customize" ng-if="!loading && playlist.length > 0" class="list-group-item customize-button">Customize</a>
	</ul>
</div>
