<div ng-controller="MusicSearchCtrl" class="music-search">
	<div class="playlist">
		<div ng-repeat="song in playlist track by song.id">
			<span class="song-title">{{song.title}}</span> -- {{song.artist}}
			<button class="remove-button" ng-click="remove(song)">-</button>
		</div>
	</div>
	<div class="search-bar">
		<form ng-submit="search(query)">
			<label>Search for Songs</label>
			<input ng-model="query">
		</form>
	</div>
	<div class="search-results">
		<div class="search-result" ng-repeat="song in songs|notInList:playlist track by song.id">
			<span class="song-title">{{song.title}}</span> -- {{song.artist}}
			<button ng-click="add(song)" class="add-button">+</button>
		</div>
	</div>
</div>
